
<div class="bk-row  row  row__text--button">
    <div class="bk-row__container  row__container row--padding  text-button-row">

        <div class="row__column  row__column--full  align--middle-center">

            <div class="text-button-header">

                {{widget('content', 'text-button-header', {
                    content: '<h4>SALE NOW ON</h4>'
                })|raw}}

            </div>

            <div class="text-button-headline">

                {{widget('content', 'text-button-headline', {
                    content: '<h1>50% sale in-store and online now</h1>'
                })|raw}}

            </div>

            <div class="row__column  row__column--full  align--middle-center">

                {{widget('button', 'button', {
                    'text': 'Click Here',
                    'align': 'widget-align-center',
                    'action': 'external',
                    'url': 'http://docs.basekit.com',
                    'target': '_blank'
                })|raw}}

            </div>

        </div>

    </div>
</div>
